[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
boto3 = "*"
pyyaml = "*"

[dev-packages]
jupyter = "*"
moto = "*"
coverage = "*"
boto3-stubs = "*"
types-pyyaml = "*"
pandas-stubs = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
